<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="encabezado">
        <div class="entrada">
            <h1 class="Titulo_6">UAN-TUBE</h1>
            <a href="{{ url_for('home') }}" class="ov-btn-slide-left">Inicio</a>
            <a href="{{ url_for('login') }}" class="ov-btn-slide-left">Login</a>
            <a href="{{ url_for('registro') }}" class="ov-btn-slide-left">Registro</a>
        </div>
    </div>
    <h3></h3>
    {% block content %}

    {% endblock %}
</body>
</html>